@import url("file://__HOME__/.cache/wal/colors-waybar.css");

/* Jetzt kannst du in deinem CSS die Variablen nutzen, z.B.: */
#workspaces button.active {
  color: @color2; /* Nutzt die zweite Farbe aus deinem Wallpaper */
  border-bottom: 2px solid @color2;
}

#custom-music {
  color: @color4;
}
/* Grundlegende Einstellungen */
* {
  border: none;
  font-family: "JetBrains Mono Nerd Font", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

#workspaces, #network, #custom-music, #cpu, #memory, #pulseaudio, #clock, #tray, #custom-launch {
background: transparent;
color: #ffffff;
border: none;
padding: 2px 10px;
margin: 0px 2px;
}

/* Kasten um die Uhr entfernen, falls gewünscht */
#clock {
color: #ffffff;
background: transparent;
border: none;
}
