/* Importiert die Farben, die wallpaper_engine.sh/wal generiert */
@import url("file:///home/__USER__/.cache/wal/colors-waybar.css");

* {
  font-family: "JetBrains Mono Nerd Font", sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: rgba(15, 15, 25, 0.8); /* Dunkler, transparenter Hintergrund */
  border: 2px solid @color2; /* Akzentfarbe vom Wallpaper */
  border-radius: 12px;
  color: #ffffff;
}

#workspaces button {
padding: 0 8px;
color: #ffffff;
background: transparent;
}

#workspaces button.active {
color: @color2;
background: rgba(255, 255, 255, 0.1);
border-bottom: 3px solid @color2;
}

#workspaces button:hover {
background: rgba(255, 255, 255, 0.2);
box-shadow: inherit;
text-shadow: inherit;
}

/* Module Styling */
#network, #custom-music, #cpu, #memory, #pulseaudio, #clock, #tray, #custom-launch {
padding: 0 15px;
margin: 4px 0;
background: transparent;
}

#network {
color: @color4;
}

#custom-music {
color: @color4;
}

#clock {
color: @color2;
}

#pulseaudio {
color: @color5;
}

#memory {
color: @color6;
}

#cpu {
color: @color3;
}

#custom-launch {
font-size: 18px;
color: @color1;
margin-left: 5px;
}
