* {
background-image: none;
font-family: "JetBrains Mono Nerd Font", sans-serif;
}

window {
    background-color: rgba(30, 30, 46, 0.85); /* Dunkler, transparenter Hintergrund */
}

button {
    color: #FFFFFF;
    background-color: rgba(45, 45, 63, 0.5);
    border: 2px solid rgba(233, 30, 99, 0.2);
    border-radius: 20px;
    margin: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transition: all 0.3s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: rgba(233, 30, 99, 0.4); /* Rosie-Pink beim Hover */
    border: 2px solid #e91e63; /* Starker Rosie-Rahmen */
    outline-style: none;
}

/* Icons (Diese müssen in deinem Icons-Ordner liegen) */
#lock {
background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}
#logout {
background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}
#suspend {
background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}
#hibernate {
background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}
#shutdown {
background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
#reboot {
background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
